// Define variables for your color scheme

// For example:

// $yellow: #eac684;
// $orange: #d59a66;
// $green: #38A3A5;
// $gray: #211f1f;
// $light-gray: #EBEBEB; // hsl(30, 50%, 98%);
// $light-green: #C7F9CC;
// $greener: #57CC99;
// $green-light: #80ED99;
// $greencito: #72D7AE;

$color-black: hsl(252, 30%, 10%);
$color-dark: hsl(252, 30%, 17%);
$color-light: hsl(166, 36%, 91%);
$color-white: hsl(252, 30%, 100%);
$color-primary: hsl(181, 49%, 43%);
$color-secondary: hsl(252, 100%, 90%);
$color-danger: hsl(0, 95%, 65%);
$color-success: hsl(181, 49%, 43%);
$color-gray: hsl(252, 15%, 65%);
$yellow: hsl(39, 71%, 72%);
$orange: hsl(28, 57%, 62%);
