// Define variables for your color scheme

// For example:
$green: hsl(181, 49%, 43%); // hsl(156, 56%, 65%);
$light-gray: hsl(0, 0%, 92%);
$light-green: hsl(158, 52%, 96%);
$black: hsl(240, 18%, 14%);
$yellow: hsl(39, 71%, 72%);
$orange: hsl(28, 57%, 62%);
$blue: hsl(204, 56%, 31%);
$red: hsl(359, 87%, 66%);
$gray: hsl(0, 0%, 50%);

// $yellow: #eac684;
// $orange: #d59a66;
// $green: #38A3A5;
// $gray: #211f1f;
// $light-gray: #EBEBEB; // hsl(30, 50%, 98%);
// $light-green: #C7F9CC;
// $greener: #57CC99;
// $green-light: #80ED99;
// $greencito: #72D7AE;
