// Define variables for your color scheme

// For example:
$red: #f45d60;
$blue: #22577A;
$yellow: #eac684;
$orange: #d59a66;
$green: #38A3A5;
$gray: #211f1f;
$light-gray: hsl(30, 50%, 98%);
$light-green: #C7F9CC;
