.profile__container {
  max-width: 1400px;
  margin: 30px auto 30px;
  width: 90%;
  background-color: $color-white;
  border-radius: var(--card-border-radius);
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
}

.profile__container .header {
  background: $color-light;
  background-image: url("greenly_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
}


.profile__container main {
      padding: var(--card-padding);
}

.profile__left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile__photo {
  width: 200px;
  height: 200px;
  margin-top: -100px;
  border-radius: 100px;
  border: 4px solid $color-white;
}

.profile__name {
  margin-top: 20px;
  font-weight: 600;
  font-size: 18pt;
  color: $color-gray;
}

.profile__info {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 11pt;
  color: $color-gray;
}

.profile__stats {
  margin-top: 25px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-light;
}


.number-stat {
  padding: 0px;
  font-size: 14pt;
  font-weight: bold;
  color: $color-gray;
}

@media (max-width:1450px) {
  .profile__container .header {
    height: 150px;
  }
  .profile__photo {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    border-radius: 100px;
    border: 4px solid $color-white;
  }
}

.desc-stat {
  margin-top: -10px;
  font-size: 10pt;
  color: $color-gray;
}

.desc {
  text-align: center;
  margin-top: 25px;
  margin: 20px 30px;
  color: $color-gray;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-light;
}

.social {
  margin: auto 0;
  text-align: center;
  display: inline-block;
}

.social i {
  cursor: pointer;
  margin: 0 15px;
}

.social i:nth-child(1)  { color: #4267b2; }
.social i:nth-child(2)  { color: #1da1f2; }
.social i:nth-child(3)  { color: #bd081c; }
.social i:nth-child(4)  { color: #36465d; }

.profile__right {
  margin-top: 25px;
  padding: var(--card-padding);
}

.header-badges {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.profile-nav {
  margin: 40px 0 0 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  color: $color-gray;
}

.profile-nav:hover {
  color: $color-gray;
  border-bottom: 2px solid $color-gray;
}

.edit__profile {
  margin: 40px 40px 0 0;
  background-color: $color-primary;
  color: $color-white;
  padding: var(--btn-padding);
  border-radius: var(--boder-radius);
  cursor: pointer;
  transition: all .4s;
}

.edit__profile:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2), 0 0 15px rgba(0,0,0,0.2);
}

.badges {
  margin: auto 0;
  padding: 15px 15px 0px 0;
}

.badges div {
  margin-bottom: 30px;
}

.badges img {
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
  width: auto;
  height: auto;
  cursor: pointer;
  max-width: 100%;
}

@media (max-width:990px) {
  .profile-nav {
    display: none;
  }

  .edit__profile {
    width: 50%;
    margin-left: 25%;
    display: block;
    position: unset;
    text-align: center;
  }
}
