
// attendees
.attendance {
  position: sticky;
  top: var(--sticky-top);
}

.attendance h4 {
  color: $color-gray;
  margin: 1rem 0;
}

.attendees {
  background: $color-white;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-bottom: 0.7rem;

  & .attendant {
    display: flex;
  }
  & .attendant span {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid $color-white;
    margin-left: -0.5rem;
    &:first-child {
      margin-left: 0;
    }
  }
  & p {
    margin-left: 0.5rem;
  }
}
