.event__info {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem 0;
  font-size: 0.95rem;
  line-height: 1.5;
}

.event__info .head {
  display: flex;
  justify-content: space-between;
}

.event__info .title {
  display: flex;
  gap: 1rem;
}

.event__info .photo {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  margin: 0.7rem 0;
}

.event__info .action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}


.event__details {
  padding: 0.5rem;
}

.event__info .count-comments {
  padding: 0.5rem;
}

// attendees
.attendance {
  margin-top: 1rem;
  position: sticky;
  top: var(--sticky-top-left);
}

.attendance h4 {
  color: var(--color-gray);
  margin: 1rem 0;
}

.attendees {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-bottom: 0.7rem;
}
