:root {
    --boder-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top: 5.4rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
}


.profile-photo {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--boder-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: $color-primary;
    color: white;
}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: $color-gray;
}

/* main starts */

main {
    position: relative;
    top: 5.4rem;
}


/* feeds ends */
/* right starts */
main .container .right {
    height: max-content;
    position: sticky;
    top: var(--sticky-top);
    bottom: 0;
}

.right .messages {
    background: $color-white;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin-bottom: 1rem;
}

.right .messages .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages i {
    font-size: 1.4rem;
}

.right .messages .search-bar {
    display: flex;
    margin-bottom: 1rem;
}

.right .messages .category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages .category h6 {
    width: 100%;
    text-align: center;
    border-bottom: 4px solid $color-light;
    padding-bottom: 0.5rem;
    font-size: 0.85rem;

}

.right .messages .category .active {
    border-color: $color-dark;
}

.right .message .message-requests {
    border-color: $color-primary;
}

.right .messages .message {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-self: start;
}

.right .message .profile-photo {
    position: relative;
    overflow: visible;
}

.right .profile-photo img {
    border-radius: 50%;
}

.right .messages .message:last-child {
    margin: 0;
}

.right .messages .message p {
    font-size: 0.8rem;

}

.right .messages .message .profile-photo .active {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 3px solid $color-white;
    background: $color-success;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Friend Requests starts */
.right .friend-requests {
    margin-top: 1rem;
}

.right .friend-requests h4 {
    color: $color-gray;
    margin: 1rem 0;
}

.right .request {
    background: $color-white;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 0.7rem;
}

.right .request .info {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .request .action {
    display: flex;
    gap: 1rem;
}

/* Friend Requests ends */
/* right ends */
/* main ends */

/* Theme starts */
.customize-theme {
    background: rgba(255, 255, 255, 0.5);
    /*
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: none;
    place-items: center;
    font-size: 0.9rem;
    */
}

.customize-theme .card {
    background: $color-white;
    padding: 3rem;
    border-radius: var(--card-border-radius);
    width: 50%;
}

/* font size starts */
.customize-theme .font-size {
    margin-top: 5rem;
}

.customize-theme .font-size>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-light;
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
}

.customize-theme .choose-size {
    background: $color-secondary;
    height: 0.3rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customize-theme .choose-size span {
    width: 1rem;
    height: 1rem;
    background: $color-secondary;
    border-radius: 50%;
    cursor: pointer;
}

.customize-theme .choose-size span.active {
    background: $color-primary;
}

/* font size ends */

/* color starts */

.customize-theme .choose-color {
    background: $color-light;
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customize-theme .choose-color span {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
}

.customize-theme .choose-color span:nth-child(1) {
    background: hsl(252, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(2) {
    background: hsl(52, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(3) {
    background: hsl(352, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(4) {
    background: hsl(152, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(5) {
    background: hsl(202, 75%, 60%);
}

.customize-theme .choose-color span.active {
  border: 5px solid white;
}

/* color ends */

/* Background starts */
.customize-theme .choose-bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.customize-theme .choose-bg > div {
  padding: var(--card-padding);
  width: 100%;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.customize-theme .choose-bg > div.active {
  border: 2px solid $color-primary
}

.customize-theme .choose-bg .bg-1 {
  background: white;
  color: black;
}

.customize-theme .choose-bg .bg-2 {
  background: hsl(252, 30%, 17%);
  color: white;
}

.customize-theme .choose-bg .bg-3 {
  background: hsl(252, 30%, 10%);
  color: white;
}

.customize-theme .choose-bg > div span {
  width: 2rem;
  height: 2rem;
  border: 2px solid $color-gray;
  border-radius: 50%;
  margin-right: 1rem;
}

/* color ends */

/* Theme ends */

/*  RESPONSIVENESS media query starts */

@media screen and (max-width: 1200px) {
  .container {
      width: 96%;
  }

  main .container {
      grid-template-columns: 5rem auto 30vw;
      gap: 1rem;
  }

  .left {
      width: 5rem;
      z-index: 5;
  }

  main .container .left .profile {
      display: none;
  }

  .sidebar h3 {
      display: none;
  }

  .left .btn {
      display: none;
  }
}

@media screen and (max-width: 992px) {
  nav .search-bar {
      display: none;
  }

  main .container {
      grid-template-columns: 0 auto 5rem;
      gap: 0;
  }

  main .container .left {
      grid-column: 3/4;
      position: fixed;
      bottom: 0;
      right: 0;
  }
  /* NOTIFICATION POPUP*/
  .left .notifications-popup {
      position: absolute;
      left: -20rem;
      width: 20rem;
  }

  .left .notifications-popup::before {
      display: absolute;
      top:1.3rem;
      left: calc(20rem - 0.6rem);
      display: block;
  }


  main .container .middle {
      grid-column: 1/3;
  }

  main .container .right {
      display: none;
  }


}



/* RESPONSIVENESS media query ends */
