:root {
  --boder-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --sticky-top: 5.4rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
}

textarea {
  resize: none;
}

.profile-photo {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  font-weight: 500;
  border-radius: var(--boder-radius);
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.9;
  color: $color-white;

}

.btn-primary {
  background: $color-primary;
  color: $color-white;
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: $color-gray;
}

/* main starts */

main {
  position: relative;
  top: 5.4rem;
}


/*  RESPONSIVENESS media query starts */

@media screen and (max-width: 1200px) {
  .container {
    width: 96%;
  }

  main .container {
    grid-template-columns: 5rem auto 30vw;
    gap: 1rem;
  }

  .left {
    width: 5rem;
    z-index: 5;
  }

  main .container .left .profile {
    display: none;
  }

  .left .btn {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  nav .search-bar {
    display: none;
  }

  main .container {
    grid-template-columns: 0 auto 5rem;
    gap: 0;
  }

  main .container .left {
    grid-column: 3/4;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  /* NOTIFICATION POPUP*/
  .left .notifications-popup {
    position: absolute;
    left: -20rem;
    width: 20rem;
  }

  .left .notifications-popup::before {
    display: absolute;
    top: 1.3rem;
    left: calc(20rem - 0.6rem);
    display: block;
  }


  main .container .middle {
    grid-column: 1/3;
  }

  main .container .right {
    display: none;
  }


}

/* RESPONSIVENESS media query ends */
