<% if likeable.likes.any? %>
  <% likeable.likes.last(5).each do |like| %>
    <span><%= cl_image_tag like.user.photo.key %></span>
  <% end %>
  <p>
    Liked by <b><%= likeable.likes.last.user.first_name %></b>
    <% if likeable.likes.count > 1 %>
      and <b><%= pluralize(likeable.likes.count - 1, "user") %></b> others
    <% end %>
  </p>
<% end %>
