<footer class="bg-primary mt-auto">
  <div class="container text-white">
    <div class="row mt-3">
      <div class="col-md-4">
        <p>Greenly, todos los derechos resevados. ©2022</p>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <ul class="list-inline text-end">
            <li class="list-inline-item">
              <li class="fa-brands fa-facebook-f"></li>
            </li>
            <li class="list-inline-item">
              <li class="fa-brands fa-twitter text-light"></li>
            </li>
            <li class="list-inline-item">
              <li class="fa-brands fa-instagram text-light"></li>
            </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
