<div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="customize-theme">
          <div class="">
              <h2>Customize your view</h2>
              <p class="text-muted">Manage your font size, color, and background</p>
              <! Font size starts>
              <div class="font-size">
                  <h4>Font Size</h4>
                  <div>
                      <h6>Aa</h6>
                  <div class="choose-size">
                      <span class="font-size-1"></span>
                      <span class="font-size-2 active"></span>
                      <span class="font-size-3"></span>
                      <span class="font-size-4"></span>
                      <span class="font-size-5"></span>
                  </div>
                      <h3>Aa</h3>
                  </div>
              </div>
              <! Font size ends>
              <! Primary Colors starts>
              <div class="color">
                  <h4>Color</h4>
                  <div class="choose-color">
                  <span class="color-1 active"></span>
                  <span class="color-2"></span>
                  <span class="color-3"></span>
                  <span class="color-4"></span>
                  <span class="color-5"></span>
                  </div>
              </div>
              <! Primary Colors ends>
              <! Background starts>
              <div class="background">
                  <h4>Background</h4>
                  <div class="choose-bg">
                      <div class="bg-1 active">
                          <span></span>
                          <h5 for="bg-1">Light</h5>
                      </div>
                      <div class="bg-2">
                          <span></span>
                          <h5>Dim</h5>
                      </div>
                      <div class="bg-3">
                          <span></span>
                          <h5 for="bg-3">Lights Out</h5>
                      </div>
                  </div>
              </div>
              <! Background ends>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
