<div class="right__side">
  <div class="mini__card">
    <h3 class="text-center">Next events</h3>
    <ul>
      <% @events.each do |event| %>
        <li><%= link_to event.title, event_path(event), class: 'text-decoration-none' %></li>
      <% end %>
    </ul>
  </div>

  <%= link_to "Create a new Event", new_event_path, data: { turbo_frame: "remote_modal" }, class: "btn btn-primary" %>
</div>
