<%= content_for(:title, 'Events | Greenly') %>

<div class="container">
  <main>
    <div class="row">
      <div class="col-md-3">
        <%= render 'shared/sidebar' %>
      </div>
      <div class="col-md-6">
        <%= render @events %>
      </div>
      <div class="col-md-3">
        <%= render 'shared/right_side' %>
      </div>
      <div class="go-top-container" data-controller="utils" data-action="click->utils#goTop">
        <div class="go-top-button">
          <i class="fas fa-chevron-up"></i>
        </div>
      </div>
    </div>
  </main>
</div>
