<%= content_for(:title, 'Events | Greenly') %>

<div class="container">
  <main>
    <div class="row">
      <div class="col-md-3">
        <%= render 'shared/sidebar' %>
      </div>
      <div class="col-md-6">
        <%= render @events %>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </main>
</div>
