<%= content_for(:title, 'Greenly, Make the difference') %>

<% content_for(:home) do %>
    <div style="background-image: url(<%= asset_path('bg-home.jpg')%>);"></div>
    <footer> 
        <div class="content"> 
            <div class="text-center p-4 p-lg-5 mb-4">
                <p class="fw-bold text-primary mb-2">Proud to introduce</p>
                <h1 class="fw-bold mb-4">Greenly,<br />You can help shape the future</h1>
                <%= link_to "Start Here", events_path, class: "btn btn-primary px-4" %>
            </div>
        </div>
    </footer>
<% end %>