<%= turbo_frame_tag "comment-#{post.id}" do %>
  <h2>leave a comment</h2>
  <%= simple_form_for [post, @comment], data: { turbo_frame: "comments-#{post.id}",
                                                controller: 'reset-form',
                                                action: "turbo:submit-end->reset-form#reset" } do |f| %>
    <%= f.input :content %>
    <%= f.button :submit %>
  <% end %>
<% end %>
