.comments {
  background: $color-white;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin: 1rem auto;
  font-size: 0.85rem;
}

.comment__action {
  display: flex;
  justify-content: space-between;
}

.comments:last-child {
  padding-bottom: 0;
}
