.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  background: $color-light;
  padding: 0.4rem var(--card-padding);
  border-radius: var(--boder-radius);

  &__group {
    width: 100%;

  }

  &__input {
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: $color-dark;
  }

    &:focus {
      box-shadow: 0 0 0 3px $color-primary;
    }

    &--invalid {
      border-color: $color-primary;
    }
}
