.right__side {
  position: sticky;
  top: var(--sticky-top);
  & .btn {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }
  & .footer {
    padding: 1rem 0;
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-gray);
    cursor: pointer;
  }
}

.mini__card {
  background: $color-white;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-bottom: 1rem;
}
