.white__card {
  background: $color-white;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem 0;
  font-size: 0.90rem;
  line-height: 1.5;
  overflow: hidden;
  &:first-child {
    margin-top: 0;
  }
  & p {
    margin-bottom: 0;
  }
  & .head {
    display: flex;
    justify-content: space-between;
  }
  & .user {
    display: flex;
    gap: 1rem;
  }
  & .card-profile-photo img {
    width: 2.4rem;
    border-radius: 50%;
    }
  & .photo {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
  }
  & .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
    & .interaction-buttons span {
      cursor: pointer;
    }
  }
  & .card__details {
    padding: 0.5rem;
  }
  & .card__comments {
    padding: 0.5rem;
  }
}

.liked-by {
  display: flex;
  margin-left: 0.5rem;
}

.liked-by span {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--color-white);
  margin-left: -0.6rem;
}

.liked-by span:first-child {
  margin: 0;
}

.liked-by p {
  margin-left: 0.5rem;
}
